{% extends 'admin/admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div id="admin-create-update-user">
    <h1>{{ title }}</h1>

    {{ breadcrumb | breadcrumb | raw }}

    {% if(action == 'edit') %}
    <div class="card mb-4">
        <div class="card-header">
            {{ "admin_user#Résumé" | trans }}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <img width="150" height="150" src="{{ user.avatar | pathAvatar }}" class="img-fluid rounded-circle mx-auto shadow-sm d-block mt-4" />
                </div>
                <div class="col-8">
                    <table class="table table-hover table-striped">
                        <tr>
                            <td> {{ "admin_user#Nom" | trans }}</td>
                            <td> {{ user.name }} {{ user.surname }}</td>
                        </tr>
                        <tr>
                            <td> {{ "admin_user#Nom de publication" | trans }}</td>
                            <td> {{ user.publicationName }}</td>
                        </tr>
                        <tr>
                            <td> {{ "admin_user#Email" | trans }}</td>
                            <td> {{ user.email }}</td>
                        </tr>
                        <tr>
                            <td> {{ "admin_user#Dernière connexion" | trans }}</td>
                            <td>
                                {% if(user.lastLogin != null) %}
                                    {{ user.lastLogin | dateFormat(dateFormat, timeFormat) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td> {{ "admin_user#Dernier changement de mot de passe" | trans }}</td>
                            <td>
                                {% if(user.lastPasswordUpdae != null) %}
                                    {{ user.lastPasswordUpdae | dateFormat(dateFormat, timeFormat) }} <br />
                                    {{ "admin_user#Force du mot de passe" | trans }} {{ user.passwordStrenght | raw }}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {{ "admin_user#Information sur l'utilsateur" | trans }}
                </div>
                <div class="card-body">
                    {{ form_start(form) }}

                    {{ form_row(form.email) }}

                    <div class="card border-primary mb-2">
                        <div class="card-body">
                            <a href="#" id="generate-password" class="mb-2 float-end">{{ "admin_user#Mot de passe aléatoire" | trans }}</a>
                            <h5 class="card-title"> {{ "admin_user#Mot de passe" | trans }}</h5>


                            <div class="mb-3">
                                {{ form_label(form.password_1) }}
                                <div class="input-group">
                                    {{ form_widget(form.password_1, {"id" : "password_1"}) }}
                                    <span class="input-group-text" id="show-password"><i class="fa fa-eye"></i></span>
                                </div>
                            </div>

                            <div class="progress mb-4">
                                <div class="progress-bar bg-success" id="strength-password-info"
                                     data-weak="{{ "admin_user#Mot de passe faible" | trans }}"
                                     data-normal="{{ "admin_user#Mot de passe normal" | trans }}"
                                     data-strong="{{ "admin_user#Mot de passe fort" | trans }}"
                                     role="progressbar" style="width: 0%;">
                                </div>
                            </div>

                            {{ form_row(form.password_2, {"id" : "password_2"}) }}

                            <span class="text-muted">{{ "admin_user#Laisser vide si vous ne souhaitez pas changer votre mot de passe" | trans }}</span>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {{ "admin_user#Attribution des rôles" | trans }}
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <script>
        $( document ).ready(function() {
            User.Launch();
            User.CreateUpdate();
        });
    </script>

{% endblock %}

