{% extends 'admin/admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="admin-create-update-menu">
        <h1>{{ title }}</h1>

        {{ breadcrumb | breadcrumb | raw }}

        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        {{ "admin_menu#Information sur le menu" | trans }}
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}

                        {{ form_row(form.title) }}

                        {{ form_row(form.description) }}

                        {{ form_row(form.disabled) }}

                        {{ form_row(form.valider) }}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        {{ "admin_menu#Eléments du menu" | trans }}
                    </div>
                    <div class="card-body">
                        <div id="block-element" data-url="{{ path('admin_menu_ajax_menu_element') }}" data-loading="{{ "admin_menu#Chargement des éléments du menu" | trans }}">

                        </div>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-header">
                        {{ "admin_menu#Exemple de rendu" | trans }}
                    </div>
                    <div class="card-body">
                        <div id="exemple-render" data-url="{{ path('admin_menu_ajax_exemple_render') }}" data-loading="{{ "admin_menu#Chargement du rendu du menu" | trans }}">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            Menu.Launch();
            Menu.CreateUpdate();
            Menu.LoadExempleRender('');
            Menu.LoadMenuElement();
        });
    </script>

{% endblock %}

