<div id="listing-route">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ "Route" | trans }}</th>
            <th scope="col">{{ "Module" | trans }}</th>
            <th scope="col">{{ "Action" | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for route in listeRoutes %}
            <tr>
                <th scope="row">{{ route.id }}</th>
                <td>{{ route.route }}
                    {% if route.isDepreciate == 1 %}
                        <i class="text-danger fas fa-exclamation-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ "Cette route est dépréciée, vous pouvez la supprimer" }}"></i>
                    {% endif %}
                </td>
                <td>{{ route.module }}</td>
                <td>
                    {% if route.isDepreciate == 1 %}
                        <a href="#"><i class="text-danger fas fa-minus-circle"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ listeRoutes | paginate(page, limit, route, '#admin-route-globale .card-body') | raw }}

    <script>
        $( document ).ready(function() {
            let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            });

            let txtNb = '{{ 'Routes' | trans }}';
            let txtDepreciate = '{{ 'route(s) détectée(s) comme obsolète(s)' | trans }}' +  ' - <a href="#">{{ 'Purger' | trans }}</a>';

            Route.UpdateInfoListing('{{ nbRoutesDepreciate }}', '{{ listeRoutes.count }}', txtNb, txtDepreciate);
        });
    </script>
</div>