{% extends 'admin/admin.html.twig' %}

{% block title %}Hello RouteController!{% endblock %}

{% block body %}
<div id="admin-route-globale">
    <h1>{{ "Gestion des routes" | trans }}</h1>

    {{ breadcrumb | breadcrumb | raw }}

    <div class="float-end">
        <div id="btn-update-route" data-loading="{{ "Mise à jour des routes..." }}" data-url="{{ path('admin_route_ajax_update_route') }}" class="btn btn-primary mb-2">
            <i class="fas fa-sync-alt"></i> {{ "Mise à jour des routes" | trans }}
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="card">
        <div class="card-header">
            <div class="mt-2 float-start" id="info-route">
                - {{ "Routes" | trans }}
            </div>
            <div class="float-end">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="{{ "Rechercher" | trans }}">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="card-body" data-url="{{ path('admin_route_ajax_listing_route') }}" data-loading="{{ "Chargement des données..." }}">

        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <script>
        $( document ).ready(function() {
            Route.Launch();
            Route.PageListingEvent();
            Route.LoadListingRoute();
        });
    </script>

{% endblock %}
