{% extends 'admin/admin.html.twig' %}

{% block title %}{{ "admin_theme#Gestion des thèmes" | trans }}{% endblock %}

{% block body %}
<div id="admin-system-globale">
    <h1>{{ "admin_theme#Gestion des thèmes" | trans }}</h1>

    {{ breadcrumb | breadcrumb | raw }}

    <div class="card">
        <div class="card-header">
            <i class="fa fa-pager"></i> {{ "admin_theme#Thèmes installés" | trans }}
        </div>
        <div class="card-body">
            {% for theme in tabThemes %}

                <div class="card float-start me-4 border-primary border-3" style="width: 25rem;">
                    <img src="{{ asset(theme.config.src_img)}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ theme.config.name }}</h5>
                        <p class="card-text">{{ theme.config.description }}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <script>
        $( document ).ready(function() {

        });
    </script>

{% endblock %}