{% extends 'admin/admin.html.twig' %}

{% block title %}{{ "admin_theme#Gestion des thèmes" | trans }}{% endblock %}

{% block body %}
<div id="admin-system-globale">
    <h1>{{ "admin_theme#Gestion des thèmes" | trans }}</h1>

    {{ breadcrumb | breadcrumb | raw }}

    <div class="card border-warning">
        <div class="card-header">
            <i class="fa fa-exclamation-triangle"></i> {{ "admin_theme#Thèmes installés" | trans }}
        </div>
        <div class="card-body">
            {% for theme in tabThemes %}
                <div class="border border-primary">
                    <img src="{{ asset(theme.config.src_img)}}">
                    
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <script>
        $( document ).ready(function() {

        });
    </script>

{% endblock %}