<nav class="sidebar {{ sidebarPosition}} card py-2 mb-2">
    <ul class="nav flex-column">
        {% for element in menu %}
            {% if element.parent == null %}
                {% if element.children | length > 0 %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ element.label }} <b class="float-end">&raquo;</b></a>
                        <ul class="submenu dropdown-menu">

                            {% for child1 in element.children %}
                                {% if child1.children | length > 0 %}
                                    <li><a class="nav-link" href="#">{{ child1.label }} <b class="float-end">&raquo;</b></a>
                                        <ul class="submenu dropdown-menu">
                                            {% for child2 in child1.children %}
                                                {% if child2.children | length > 0 %}
                                                    <li><a class="nav-link" href="#">{{ child2.label }} <b class="float-end">&raquo;</b></a></li>
                                                {% else %}
                                                    <li><a class="nav-link" href="#">{{ child2.label }} </a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a class="nav-link" href="#">{{ child1.label }} </a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="#">{{ element.label }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>