<div id="listing-translation-tab">
    <table class="table table-responsive table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ "admin_translation#Application" | trans }}</th>
            <th scope="col">{{ "admin_translation#Module" | trans }}</th>
            <th scope="col">{{ "admin_translation#Clée" | trans }}</th>
            {% for langue in languages%}
                {% set lg = "admin_translation#"~langue %}
                <th scope="col">{{ lg | trans }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for tranlationKey in listeTranslation %}
            <tr>
                <th scope="row">{{ tranlationKey.id }}</th>
                <td>
                    {% if tranlationKey.application in translationModules|keys %}
                        {{ translationModules[tranlationKey.application] | trans }}
                    {% else %}
                        {{ tranlationKey.application | trans }}
                    {% endif %}
                </td>
                <td>
                    {% if tranlationKey.module in translationModules|keys %}
                        {{ translationModules[tranlationKey.module] | trans }}
                    {% else %}
                        {{ tranlationKey.module | trans }}
                    {% endif %}

                </td>
                <td>
                    {{ tranlationKey.name }}
                </td>

               {%  for translationLabel in tranlationKey.translationLabels %}

                   {% for langue in languages%}
                        {% if(langue == translationLabel.language) %}
                            <td>
                                {{ translationLabel.label | inputHidden(path('admin_translation_ajax_update', {'id' : translationLabel.id})) | raw }}
                            </td>
                       {% endif %}
                   {% endfor %}
                {% endfor %}

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ listeTranslation | paginate(page, limit, route, '#admin-translation-globale #listing-translation') | raw }}
</div>

<script>
    $( document ).ready(function() {
        System.EventHiddenInput('Translation.CheckReloadTranslation()');
    });
</script>

