{% extends 'admin/admin.html.twig' %}

{% block title %}{{ "admin_translation#Gestion des traductions" | trans }}{% endblock %}

{% block body %}

    <div id="admin-translation-globale">
        <h1>{{ "admin_translation#Gestion des traductions" | trans }}</h1>

        {{ breadcrumb | breadcrumb | raw }}

        <div class="float-end mb-3">

            {% if 'admin_translation_ajax_reset' | isGranted %}
            <div class="btn btn-danger" id="btn-reset-translate" data-url="{{ path('admin_translation_ajax_reset') }}"
                 data-loading="{{"admin_translation#Réinitialisation des traductions depuis le code source du site, cela peut prendre du temps..." | trans}}"
                 data-loading2="{{"admin_translation#Rechargement de la page..." | trans}}"><i class="fa fa-exclamation-triangle"></i> {{ "admin_translation#Réinitialiser les traductions" | trans}}
            </div>
            {% endif %}

            {% if 'admin_translation_ajax_reload' | isGranted %}
            <div class="btn btn-primary" id="btn-reload-translate" data-url="{{ path('admin_translation_ajax_reload') }}"
                data-loading="{{"admin_translation#Reconstruction des traductions depuis la base de données, cela peut prendre du temps..." | trans}}"
                data-loading2="{{"admin_translation#Rechargement de la page..." | trans}}"><i class="fa fa-sync-alt"></i> {{"admin_translation#Régénérer les traductions" | trans}}
            </div>
            {% endif %}
        </div>

        <div class="clearfix"></div>

        <div class="card">
            <div class="card-body">
                <form id="form-search-translation">
                    <div class="row">
                            {{ "" | formSearchTranslation | raw }}
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn btn-primary float-end" id="btn-form-search-translation"><i class="fa fa-search"></i> {{"admin_translation#Filter les données" | trans}}</div>
            </div>
        </div>

        <div class="card mt-3">
            {% if 'admin_translation_ajax_check_reload' | isGranted %}
                <div class="card-header">
                    <div class="float-end" id="msg-reload-translation" data-url="{{ path('admin_translation_ajax_check_reload') }}">
                        <i>{{ "admin_translation#Chargement des informations de traduction..." | trans}}</i>
                    </div>
                </div>
            {% endif %}
            <div class="card-body" id="listing-translation" data-url="{{ path('admin_translation_ajax_listing') }}" data-loading="{{ "admin_translation#Chargement des traductions..." | trans }}">
            </div>
        </div>


    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $( document ).ready(function() {
            Translation.Launch();
            Translation.PageListingEvent();
            Translation.LoadListingTranslation();
            Translation.CheckReloadTranslation();
        });
    </script>

{% endblock %}
