{% extends 'admin/admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="admin-create-update-faq-category">
        <h1>{{ title }}</h1>

        {{ breadcrumb | breadcrumb | raw }}


        <div class="card">
            <div class="card-header">
                {{ "admin_faq#Information sur la catégorie" | trans }}
            </div>
            <div class="card-body">
                {{ form_start(form) }}

                {{ form_row(form.position) }}

                {% set nb = 0 %}
                {% for translation in form.faqCategoryTranslations %}
                    {% set nb = nb+1 %}

                    {% set checked = "" %}
                    {% set see = false %}
                    {% if currentLocal == translation.language.vars.value %}
                        {% set checked = "checked" %}
                    {% elseif not translation.title.vars.value is empty and  not translation.description.vars.value is empty%}
                        {% set checked = "checked" %}
                    {% else %}
                        {% set see = true %}
                        {% endif %}

                    <div class="card mb-4">
                        <div class="card-header">
                            {{ "admin_faq#Traduction" | trans }} {{ ("admin_translation#"~translation.language.vars.value) | trans }} {{ "admin_faq#pour la catégorie" | trans }}
                           {% if see %}
                               <div class="form-check form-switch float-end">
                                <input class="form-check-input active-translate" data-nb="{{ nb }}" type="checkbox" role="switch" id="active-translate-{{ nb }}"
                                       {{ checked }}>
                                <label class="form-check-label" for="active-translate-{{ nb }}">{{ "admin_faq#Activer" }}</label>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {{ form_row(translation.title, {'id' : 'titre-'~nb, 'attr': {'class': 'titre', 'data-nb' : nb, 'data-value' : translation.title.vars.value, 'data-local' : translation.language.vars.value}}) }}

                            {{ form_row(translation.slug, {'id' : 'slug-'~nb, 'attr': {'class': 'slug', 'data-nb' : nb}}) }}

                            {{ form_row(translation.description, {'id' : 'description-'~nb, 'attr': {'data-value' : translation.description.vars.value}}) }}

                            {{ form_row(translation.language) }}
                        </div>
                    </div>

                {% endfor %}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {

            FAQCategory.Launch();
            let checkSlug = '{{ path('admin_faq_category_check_slug', {'slug' : 'pslug'}) }}';
            {% if action == 'edit' %}
                checkSlug = '{{ path('admin_faq_category_check_slug', {'slug' : 'pslug', 'id' : faqCategory.id}) }}';
            {% endif %}
            FAQCategory.EventCreateUpdate('#admin-create-update-faq-category', '{{ frontUrl }}', '{{ currentLocal }}', '{{ action }}', checkSlug);
            FAQCategory.UpdateSlug();

            Wysiwyg.DefaultEditor('.input-editor');
        });
    </script>

{% endblock %}

