<div id="listing-faq">
    <table class="table table-responsive table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ "admin_faq#Ordre" | trans }}</th>
            <th scope="col">{{ "admin_faq#Titre" | trans }}</th>
            <th scope="col">{{ "admin_faq#Description" | trans }}</th>
            <th scope="col">{{ "admin_faq#Statistiques" | trans }}</th>
            <th scope="col">{{ "admin_faq#Action" | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for faqCat in listeCats %}
            <tr>
                <th scope="row">{{ faqCat.id }}</th>
                <td>{{ faqCat.position }}</td>
                <td>
                    {% for translation in faqCat.faqCategoryTranslations %}
                        {{ ("admin_translation#"~translation.language) | trans }} : {{ translation.title }} <br />
                    {% endfor %}
                </td>
                <td>
                    {% for translation in faqCat.faqCategoryTranslations %}
                        {{ ("admin_translation#"~translation.language) | trans }} : {{ translation.description | raw }} <br />
                    {% endfor %}
                </td>
                <td>
                    {% set nb = faqCat.faqQuestionAnswers | length  %}
                    {% if nb == 0 %}
                        {{ "admin_faq#Aucune questions" | trans }}
                    {% elseif nb == 1 %}
                        <a href="#">{{ "admin_faq#1 Question" | trans }}</a>
                    {% elseif nb > 1 %}
                        <a href="#">{{ nb }} {{ "admin_faq#Questions" | trans }}</a>
                    {% endif %}
                </td>
                <td>
                        {% if 'admin_faq_category_edit' | isGranted %}
                            <a href="{{ path('admin_faq_category_edit', {'id' : faqCat.id}) }}" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ "admin_faq#Editer" | trans }}"><i class="fa fa-edit"></i></a>
                        {% endif %}
                        {% if 'admin_faq_category_delete' | isGranted %}
                            <a href="{{ path('admin_faq_category_delete', {'id' : faqCat.id}) }}" onclick="return confirm('{{ "admin_faq#Attention cette action est définitive ! Êtes vous sur ?" | trans }}')" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ "admin_faq#Supprimer" | trans }}"><i class="fa fa-trash"></i></a>
                        {% endif %}
                    {% if 'admin_faq_category_position' | isGranted %}

                        {% if (faqCat.position - 1) == 0 %}
                            <a href="{{ path('admin_faq_category_position', {'id' : faqCat.id, 'position' : (faqCat.position+1)}) }}" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ "admin_faq#Descendre" | trans }}"><i class="fa fa-long-arrow-alt-down"></i></a>
                        {% elseif (faqCat.position + 1) > listeCats | length %}
                            <a href="{{ path('admin_faq_category_position', {'id' : faqCat.id, 'position' : (faqCat.position-1)}) }}" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ "admin_faq#Monter" | trans }}"><i class="fa fa-long-arrow-alt-up"></i></a>
                        {% elseif (faqCat.position - 1) > 0 %}
                            <a href="{{ path('admin_faq_category_position', {'id' : faqCat.id, 'position' : (faqCat.position-1)}) }}" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ "admin_faq#Monter" | trans }}"><i class="fa fa-long-arrow-alt-up"></i></a>
                            <a href="{{ path('admin_faq_category_position', {'id' : faqCat.id, 'position' : (faqCat.position+1)}) }}" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ "admin_faq#Descendre" | trans }}"><i class="fa fa-long-arrow-alt-down"></i></a>
                        {% endif %}

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ listeCats | paginate(page, limit, route, '#admin-faq-globale .card-body') | raw }}

    <script>
        $(document).ready(function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });
    </script>
</div>