<div id="listing-role">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ "admin_role#Nom" | trans }}</th>
            <th scope="col">{{ "admin_role#Label" | trans }}</th>
            <th scope="col">{{ "admin_role#Module" | trans }}</th>
            <th scope="col">{{ "admin_role#Action" | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for role in listeRoles %}
            <tr>
                <th scope="row">{{ role.id }}</th>
                <td>{{ role.name }} <span class="badge float-end" style="background-color: {{ role.color }}">{{ role.shortLabel }}</span></td>
                <td>{{ role.label }}</td>
                <td>
                   {{ role.routeRights.toArray | listeModules | raw }}

                </td>
                <td>
                    action
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ listeRoles | paginate(page, limit, route, '#admin-role-globale .card-body') | raw }}

    <script>
        $(document).ready(function () {

        });
    </script>
</div>