<div id="listing-role">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ "admin_role#Nom" | trans }}</th>
            <th scope="col">{{ "admin_role#Label" | trans }}</th>
            <th scope="col">{{ "admin_role#Module" | trans }}</th>
            <th scope="col">{{ "admin_role#Action" | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for role in listeRoles %}
            <tr>
                <th scope="row">{{ role.id }}</th>
                <td>{{ role.name }} <span class="badge float-end mt-1" style="background-color: {{ role.color }}">{{ role.shortLabel }}</span></td>
                <td>{{ role.label }}</td>
                <td>
                   {{ role.routeRights.toArray | listeModules | raw }}

                </td>
                <td>
                    {% if(role.name != constant('App\\Service\\Admin\\RoleService::ROOT_NAME')) %}
                        <a href="{{ path('admin_role_edit', {'id' : role.id}) }}" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ "admin_role#Editer" | trans }}"><i class="fa fa-pencil-alt"></i></a>
                        <a href="{{ path('admin_role_delete', {'id' : role.id}) }}" onclick="return confirm('{{ "admin_role#Attention cette action est définitive ! Êtes vous sur ?" | trans }}')" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ "admin_role#Supprimer" | trans }}"><i class="fa fa-trash"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ listeRoles | paginate(page, limit, route, '#admin-role-globale .card-body') | raw }}

    <script>
        $(document).ready(function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });
    </script>
</div>