{% extends 'admin/admin.html.twig' %}

{% block title %}{{ "admin_role#Créer un rôle" | trans }}{% endblock %}

{% block body %}
<div id="admin-create-update-role">
    <h1>{{ "admin_role#Créer un rôle" | trans }}</h1>

    {{ breadcrumb | breadcrumb | raw }}

    <div class="row">

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {{ "admin_role#Information sur le rôle" | trans }}
                </div>
                <div class="card-body">
                    {{ form_start(form) }}

                    {{ form_row(form.name) }}

                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.shortLabel, {'id' : 'role-short-label'}) }}
                        </div>
                        <div class="col-3">
                            {{ form_row(form.color, {'id' : 'role-color'}) }}
                        </div>
                        <div class="col-3">
                            <label for="role_color" class="form-label">{{ "admin_role#Rendu" | trans }}</label> <br />
                            <div class="badge rounded-pill mt-2" style="background-color:#FAFAFA" id="render-exemple-short-role"></div>
                        </div>
                    </div>

                    {{ form_row(form.label) }}

                    <input type="hidden" name="role[routes]" id="hidden-route-id" />
                    <div class="float-end mt-2 text-muted"><i>{{ "admin_role#Les champs marqués d'une * sont obligatoire" | trans }}</i></div>

                    {{ form_row(form.valider, {'id' : 'role-submit'}) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {{ "admin_role#Attribution des droits" | trans }}
                </div>
                <div class="card-body">
                    {{ listeRoutes | listeRouteRight | raw }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <script>
        $( document ).ready(function() {
            Role.Launch();
            Role.CreateUpdate();
        });
    </script>

{% endblock %}

