<div class="modal fade" id="modal-create-update-folder" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-folder-plus"></i> {{ title }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ form_start(form, { 'id' : 'form-folder', 'action': url }) }}
            <div class="modal-body">
                {{ form_row(form.name) }}

                {{ form_row(form.refId) }}

                {{ form_row(form.parent) }}
            </div>
            <div class="modal-footer">
                <div class="mb-3">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "admin_media#Annuler" }}</button>
                </div>
                {{ form_row(form.valider, {'id' : 'create-update-folder-valide'}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% block javascripts %}

    <script>
        $(document).ready(function () {
            let modalFolder = new bootstrap.Modal($('#modal-create-update-folder'), [])
            modalFolder.toggle();

            {% if(parent != null) %}
                $('#folder_parent option[value="{{ parent.id }}"]').prop('selected', true);
            {% endif %}

            $('#folder_refId').val(-1);
            {% if(folder != null) %}
                $('#folder_refId').val({{ folder.id }})
            {% endif %}

            MediaLib.createUpdateFolderEvent(modalFolder);

            {% if save_ok is same as(true) %}
                MediaLib.createUpdateFolderSuccess();
            {% endif %}

        });
    </script>

{% endblock %}