{% extends 'admin/admin.html.twig' %}

{% block title %}{{ "admin_media#Médiathèque" | trans }}{% endblock %}

{% block body %}

    <div id="admin-media-globale">
        <h1>{{ "admin_media#Médiathèque" | trans }}</h1>

        {{ breadcrumb | breadcrumb | raw }}

        <div class="row">
            <div class="col-3">
                <div class="card h-100">
                    <div class="card-body" id="block-tree-view" data-url="{{ path("admin_media_ajax_tree_folder") }}" data-loading="{{ "admin_media#Chargement des dossiers..." | trans }}">
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div id="block-content-folder" data-url="{{ path('admin_media_ajax_see_folder', {'id' : -1}) }}" data-loading="{{ "admin_media#Chargement des médias..." | trans }}">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            MediaLib.Launch();
            MediaLib.loadTreeFolder();
            MediaLib.loadContentFolder();
        });
    </script>

{% endblock %}
