{% extends 'admin/admin.html.twig' %}

{% block title %}{{ "admin_media#Médiathèque" | trans }}{% endblock %}

{% block body %}

    <div id="admin-media-globale">
        <h1>{{ "admin_media#Médiathèque" | trans }}</h1>

        {{ breadcrumb | breadcrumb | raw }}

        <div class="row">
            <div class="col-3">
                <div id="tree-view-folder">
                    <ul>
                        <li><span class="caret">Beverages</span>
                            <ul class="nested">
                                <li class="ee">Water</li>
                                <li>Coffee</li>
                                <li><span class="caret">Tea</span>
                                    <ul class="nested">
                                        <li>Black Tea</li>
                                        <li>White Tea</li>
                                        <li><span class="caret">Green Tea</span>
                                            <ul class="nested">
                                                <li>Sencha</li>
                                                <li>Gyokuro</li>
                                                <li>Matcha</li>
                                                <li>Pi Lo Chun</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-9">
                <div class="card">
                    <div class="card-header">
                        - {{ "admin_media#Média" | trans }}
                    </div>
                    <div class="card-body" data-url="" data-loading="{{ "admin_media#Chargement des médias..." | trans }}">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            var toggler = document.getElementsByClassName("caret");
            var i;

            for (i = 0; i < toggler.length; i++) {
                toggler[i].addEventListener("click", function () {
                    this.parentElement.querySelector(".nested").classList.toggle("active");
                    this.classList.toggle("caret-down");
                });
            }
        });
    </script>

{% endblock %}
