{% extends 'admin/admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="admin-create-update-page">
        <h1>{{ title }}</h1>

        {{ breadcrumb | breadcrumb | raw }}

        <div class="border rounded p-3 mb-3">

            <div class="row">
                <div class="col-4">
                    <label for="select-language" class="form-label">{{ "admin_page#Choisir la langue" | trans }}</label>
                    <select class="form-select" id="select-language" data-empty="{{ "admin_page#Aucune nouvelle langue à ajouter" | trans }}">
                        <option value="">{{ "admin_page#Selectionner une langue" | trans }}</option>
                        {% for locale in locales %}
                            {% set str = "admin_translation#"~locale %}
                            <option value="{{ locale }}" {% if currentLocale == locale %} selected {% endif %}>{{ str | trans }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6">
                    <div id="select-language-page" data-url="{{ path('admin_page_ajax_load_page_language') }}", data-loading="{{ "admin_page#Chargement des langues disponibles" | trans }}">

                    </div>
                </div>
            </div>

        </div>

        <div id="block-form-page" data-url="{{ url_form }}", data-loading="{{ "admin_page#Chargement du formulaire..." | trans }}">

        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            Page.Launch();
            Page.EventCreateUpdate('#admin-create-update-page');
            Page.LoadFormPage();
        });
    </script>

{% endblock %}

