{% extends 'admin/admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="admin-create-update-page">
        <h1>{{ title }}</h1>

        {{ breadcrumb | breadcrumb | raw }}

        <div class="border rounded">
            div
        </div>

        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item">
                <button class="nav-link active" id="content-page-tab" data-bs-toggle="tab" data-bs-target="#content-page"
                        type="button"
                        role="tab" aria-controls="content-page"
                        aria-selected="true"> {{ "admin_page#Contenu" | trans }}</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="seo-tab" data-bs-toggle="tab" data-bs-target="#seo" type="button"
                        role="tab" aria-controls="seo" aria-selected="false">
                    <i class="fab fa-searchengin"></i> {{ "admin_page#SEO" | trans }}
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="tags-tab" data-bs-toggle="tab" data-bs-target="#tags" type="button"
                        role="tab" aria-controls="seo" aria-selected="false">
                    <i class="fa fa-tags"></i> {{ "admin_page#Tags" | trans }}
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="options-tab" data-bs-toggle="tab" data-bs-target="#options" type="button"
                        role="tab" aria-controls="seo" aria-selected="false">
                    <i class="fa fa-cog"></i> {{ "admin_page#Options" | trans }}
                </button>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active m-3" id="content-page" role="tabpanel" aria-labelledby="content-page-tab">
                {{ "admin_page#Template" | trans }} :
                <a href="{{ path('admin_page_ajax_select_template') }}" id="btn-modal-select-template" data-loading="{{ "admin_page#Chargement de la modale de selection de template" | trans  }}"> {{ "admin_page#Choisir un template" | trans }} </a>

                <div id="content-template" data-url="{{ path('admin_page_ajax_load_template') }}" data-loading="{{ "admin_page#Chargement du template en cours" | trans  }}">

                </div>

            </div>
            <div class="tab-pane fade m-3" id="seo" role="tabpanel" aria-labelledby="seo-tab">
                SEO
            </div>
            <div class="tab-pane fade m-3" id="options" role="tabpanel" aria-labelledby="options-tab">
                Options
            </div>
            <div class="tab-pane fade m-3" id="tags" role="tabpanel" aria-labelledby="tags-tab">
                Tags
            </div>
        </div>

        <div class="m-3">
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            Page.Launch();
            Page.EventCreateUpdate('#admin-create-update-page');
            Page.LoadTemplate();
        });
    </script>

{% endblock %}

