{% extends 'admin/admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="admin-create-update-page">
        <h1>{{ title }}</h1>

        {{ breadcrumb | breadcrumb | raw }}


        <div id="block-form-page">
            {% if(page.id == null) %}
                {% set action = path('admin_page_add') %}
            {% else %}
                {% set action = path('admin_page_edit', {'id' : page.id}) %}
            {% endif %}

            {{ form_start(form, {'attr' : {'id' : 'form-ajax-add-edit-page', 'action' : action}}) }}
            <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" id="content-page-tab" data-bs-toggle="tab"
                            data-bs-target="#content-page"
                            type="button"
                            role="tab" aria-controls="content-page"
                            aria-selected="true"> {{ "admin_page#Contenu" | trans }}</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="seo-tab" data-bs-toggle="tab" data-bs-target="#seo" type="button"
                            role="tab" aria-controls="seo" aria-selected="false">
                        <i class="fab fa-searchengin"></i> {{ "admin_page#SEO" | trans }}
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="tags-tab" data-bs-toggle="tab" data-bs-target="#tags" type="button"
                            role="tab" aria-controls="seo" aria-selected="false">
                        <i class="fa fa-tags"></i> {{ "admin_page#Tags" | trans }}
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="options-tab" data-bs-toggle="tab" data-bs-target="#options"
                            type="button"
                            role="tab" aria-controls="seo" aria-selected="false">
                        <i class="fa fa-cog"></i> {{ "admin_page#Options" | trans }}
                    </button>
                </li>

            </ul>
            <div class="tab-content border mt-1" id="myTabContent">
                <div class="tab-pane fade show active m-3" id="content-page" role="tabpanel"
                     aria-labelledby="content-page-tab">
                    {{ "admin_page#Template" | trans }} :
                    <a href="{{ path('admin_page_ajax_select_template') }}" id="btn-modal-select-template"
                       data-loading="{{ "admin_page#Chargement de la modale de selection de template" | trans }}"> {{ "admin_page#Choisir un template" | trans }} </a>

                    <div id="content-template" data-url="{{ path('admin_page_ajax_load_template') }}"
                         data-loading="{{ "admin_page#Chargement du template en cours" | trans }}">

                    </div>

                    {{ form_row(form.base, {"id" : 'hidden-base-input'}) }}

                </div>
                <div class="tab-pane fade m-3" id="seo" role="tabpanel" aria-labelledby="seo-tab">
                    {% set nb = 0 %}
                    {% for translation in form.pageTranslations %}
                        {% set nb = nb+1 %}

                        {% set checked = "" %}
                        {% set see = false %}
                        {% if currentLocal == translation.language.vars.value %}
                            {% set checked = "checked" %}
                        {% elseif not translation.pageTitle.vars.value is empty and  not translation.slug.vars.value is empty %}
                            {% set checked = "checked" %}
                        {% else %}
                            {% set see = true %}
                        {% endif %}

                        <div class="card mb-4">
                            <div class="card-header">
                                {{ "admin_page#Traduction" | trans }} {{ ("admin_translation#"~translation.language.vars.value) | trans }} {{ "admin_page#pour la page" | trans }}
                                {% if see %}
                                    <div class="form-check form-switch float-end">
                                        <input class="form-check-input active-translate" data-nb="{{ nb }}" type="checkbox"
                                               role="switch" id="active-translate-{{ nb }}"
                                                {{ checked }}>
                                        <label class="form-check-label"
                                               for="active-translate-{{ nb }}">{{ "admin_page#Activer" | trans }}</label>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                {{ form_row(translation.pageTitle, {'id' : 'pageTitle-'~nb, 'attr': {'class': 'page-translate-input-'~nb~' page-title', 'data-nb' : nb, 'data-value' : translation.pageTitle.vars.value, 'data-local' : translation.language.vars.value, 'data-default' : constant('App\\Service\\Admin\\PageService::DEFAULT_NAME_PAGE_TITLE')}}) }}
                                {{ form_row(translation.slug, {'id' : 'slug-'~nb, 'attr': {'class': 'page-translate-input-'~nb, 'data-nb' : nb, 'data-value' : translation.slug.vars.value, 'data-local' : translation.language.vars.value, 'data-default' : ''}}) }}
                                {{ form_row(translation.language, {'id' : 'language-'~nb, 'attr': {'class': 'page-translate-input-'~nb, 'data-nb' : nb, 'data-value' : translation.language.vars.value, 'data-local' : translation.language.vars.value, 'data-default' : ''}}) }}
                                {{ form_row(translation.navigationTitle, {'id' : 'navigationTitle-'~nb, 'attr': {'class': 'page-translate-input-'~nb, 'data-nb' : nb, 'data-value' : translation.navigationTitle.vars.value, 'data-local' : translation.language.vars.value, 'data-default' : constant('App\\Service\\Admin\\PageService::DEFAULT_NAME_NAVIGATION_TITLE')}}) }}
                                {{ form_row(translation.metaDescription, {'id' : 'metaDescription-'~nb, 'attr': {'class': 'page-translate-input-'~nb, 'data-nb' : nb, 'data-value' : translation.metaDescription.vars.value, 'data-local' : translation.language.vars.value, 'data-default' : ''}}) }}
                                {{ form_row(translation.metaKeyword, {'id' : 'metaKeyword-'~nb, 'attr': {'class': 'page-translate-input-'~nb, 'data-nb' : nb, 'data-value' : translation.metaKeyword.vars.value, 'data-local' : translation.language.vars.value, 'data-default' : ''}}) }}
                                {{ form_row(translation.metaExtraMetaTags, {'id' : 'metaExtraMetaTags-'~nb, 'attr': {'class': 'page-translate-input-'~nb, 'data-nb' : nb, 'data-value' : translation.metaExtraMetaTags.vars.value, 'data-local' : translation.language.vars.value, 'data-default' : ''}}) }}

                                <div class="text-primary msg-info-disabled-{{ nb }}" style="display: none"><i>{{ "admin_page#Traduction désactivée pour cette langue" | trans }}</i></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade m-3" id="options" role="tabpanel" aria-labelledby="options-tab">

                    {{ form_row(form.status) }}

                    {{  form_row(form.parent) }}

                    {{ form_row(form.can_have_children) }}
                    {{ form_row(form.can_edit) }}
                    {{ form_row(form.can_delete) }}
                </div>
                <div class="tab-pane fade m-3" id="tags" role="tabpanel" aria-labelledby="tags-tab">
                    {{ "" | selectTagForEntity | raw }}
                </div>
            </div>

            <div class="m-3">
                {{ form_row(form.valider) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {

            let checkSlug = '{{ path('admin_page_ajax_check_slug', {'slug' : 'pslug', 'language' : 'lang'}) }}';
            {% if action == 'edit' %}
            checkSlug = '{{ path('admin_page_ajax_check_slug', {'slug' : 'pslug', 'id' : page.id, 'language' : 'toreplace'}) }}';
            {% endif %}

            Page.Launch();
            Page.EventCreateUpdate('#admin-create-update-page', '{{ frontUrl }}', '{{ currentLocal }}', '{{ action }}', checkSlug);
            Page.LoadTemplate();
            Page.UpdateSlug();
        });
    </script>

{% endblock %}

